.App {
  text-align: center;
}

.aboutInner {
  text-align: center;
  width: 70%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.about {
  background-color: #FFF5F1;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 20px;
}
.innerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn-dark {
  background: black !important;
  border-color: black !important;
}
.nav-link {
  margin-right: 20px !important;
  color: black;
}
.navbar-light.bg-light {
  background-color: white !important;
}
.headerText {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 50px;
}
.priceText{
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  color: #B99A5F;
  margin-top: 20px;
  margin-bottom: 10px;
}
.headerTextDark {
  font-family: 'Playfair Display';
  font-weight: 600;
  font-size: 50px;
  color: black;
}
.subTitle {
  font-family: 'Playfair Display';
}
.subTitleDark {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  color: black;;
}
.text {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
}
.textDark {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  color: black;
}
.bottomText {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  color: #B99A5F;
}
.bg-dark.text-white.card {
  border: none;
}
.headerText.card-title.h5 {
  font-family: 'Playfair Display';
  font-weight: 600;
  font-size: 50px;
  margin-top: 30%;
}
p.subTitle.card-text {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.innerContent {
  width: 60%;
}
.carouselIcon{
  top: 50%;
  left: 50%;
  position: relative;
  cursor: pointer;
}
.carouselCard.card {
  background-color: #FAFAFA;
  border-radius: 0px;
  border: none;
}
.card-img-top {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}
button.btn.btn-outline-info {
  color: #B99A5F;
  border: none;
  background: rgb(185, 154, 95, 0.05);
}
button.btn.btn-gold {
  background: #B99A5F;
  color: white;
}
@media only screen and (max-width: 600px) {
  .headerText.card-title.h5 {
    font-family: 'Playfair Display';
    font-weight: 200;
    font-size: 20px;
    margin-top: 0;
  }
  p.subTitle.card-text {
    font-family: 'Poppins';
    font-weight: 100;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .innerContent {
    width: 100%;
  }
}